<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  <h1>Billing System</h1>

  <form action="/users/upload" method="post" enctype="multipart/form-data">
    <input  type="file" name="avatar" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    <button type="submit">upload excel sheet</button>
  </form>
  <form id="We-form" class="form" action="/users/We" method="post" enctype="multipart/form-data">
    <div class="text-center text-md-left">
      <% if (isdisabled) { %>
        <button  type="submit" class="btn btn-primary custom" disabled="disabled">We</a>
      <% } else { %>
        <button  type="submit" class="btn btn-primary custom">We</a>
      <% } %>
   </div>
  </form>
  <hr>
  <form id="We-form" class="form" action="/users/Orange" method="post">
    <div class="text-center text-md-left">
      <% if (isdisabled) { %>
        <button  type="submit" class="btn btn-primary custom" disabled="disabled">Orange</a>
      <% } else { %>
        <button  type="submit" class="btn btn-primary custom">Orange</a>
      <% } %>
   </div>
  </form>
<hr>
  <form id="We-form" class="form" action="/users/Vodafone" method="post">
    <div class="text-center text-md-left">
      <div class="form-group">
        <label for="username" class="text-info">Username:</label><br>
        <input type="text" name="username" id="username" class="form-control">
    </div>
    <div class="form-group">
        <label for="password" class="text-info">Password:</label><br>
        <input type="password" name="password" id="password" class="form-control">
    </div>
    <div class="form-group">
      <label for="password" class="text-info">code:</label><br>
      <input type="text" name="code" id="code" class="form-control">
  </div>
      <% if (isdisabled) { %>
        <button  type="submit" class="btn btn-primary custom" disabled="disabled">Vodafone</a>
      <% } else { %>
        <button  type="submit" class="btn btn-primary custom">Vodafone</a>
      <% } %>
   </div>

  </form>
  <hr>
  <form id="We-form" class="form" action="/users/Etisalat" method="post">
    <div class="text-center text-md-left">
      <div class="form-group">
        <label for="username" class="text-info">Username:</label><br>
        <input type="text" name="username" id="username" class="form-control">
    </div>
    <div class="form-group">
        <label for="password" class="text-info">Password:</label><br>
        <input type="text" name="password" id="password" class="form-control">
    </div>
      <% if (isdisabled) { %>
        <button  type="submit" class="btn btn-primary custom" disabled="disabled">Eisalat</a>
      <% } else { %>
        <button  type="submit" class="btn btn-primary custom">Eisalat</a>
      <% } %>
   </div>
  </form>
  <form action="/temp" method="post">
    <% if (isdisabled) { %>
      <button type="submit" disabled="disabled">Run the test!</button>
    <% } else { %>
      <button type="submit">Run the test!</button>
    <% } %>
  </form>